@using Hillarys_Pizzeria_Project.Controllers;

@{
    <p>Previously placed orders:</p>
    if (PlacedOrderList.contents.Count() > 0)
    {
        foreach (Order item in PlacedOrderList.contents)
        {
            <p>
                <pre>
                    Order placed by: @item.FirstName @item.LastName
                    Delivered to: @item.StreetAddress, @item.City @item.State
                    Order placed at: @item.DateCreated
                    Order contents:
                </pre>
            </p>
            foreach (MenuItem i in item.Content)
            {
                <p>
                    <pre>
                        @i.food_name: $@i.price
                    </pre>
                </p>
            }
            <p>
                <pre>
                    Subtotal: @item.SubTotal
                    Tax: @item.Tax
                    Total: @item.Total
                </pre>
            </p>
            @Html.ActionLink("View Receipt", "Receipt", new { targetID = item.OrderID})
            <br />
        }
    }
    else
    {
        <p>
            <pre>
                No orders have been placed so far.
                Check out our @Html.ActionLink("menu", "Index", "Menu") to begin.
            </pre>
        </p>
    }
}